
<%= greet "world"  %>

<%   j = @divs
 for i in 1..j %>

	<table width=200>
		<h3>Division <%= i %></h3>
		<tr>
			<td>User ID</td>
			<td>Division ID</td>
			<td>j</td>
			<td>i</td>
			<td>Points</td>
		</tr>

<%	lp = @league_players
	lp.each do |p| 
		if p.division_id = i %>

			<tr>
				<td><%=	p.user_id %></td>
				<td><%=	p.division_id %></td>
				<td><%= j %></td>
				<td><%= i %></td>
		<% end %>
	<% end %>
<% end %>		



	

	



</table>


