<h1>Listing playerdivs</h1>

<table>
  <tr>
    <th>Division</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% Playerdiv.find(:all, :order => "division_id").each do |playerdiv|
#	p.each do |playerdiv| %>
  <tr>
    <td><%= playerdiv.division_id %></td>
    <td><%= user_by_id(playerdiv.user_id).name %></td>
    <td><%= link_to 'Show', playerdiv %></td>
    <td><%= link_to 'Edit', edit_playerdiv_path(playerdiv) %></td>
    <td><%= link_to 'Destroy', playerdiv, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Playerdiv', new_playerdiv_path %>
