
<%	#Get the divisions for the season, run them through pagination, and loop through them.
	divisions = division_ids(1)
	sorted_and_paginated_divisions = divisions.paginate(:page => params[:page], :per_page => 2)
	 sorted_and_paginated_divisions.each do |l|
		l = show_league(l,1) 		
%>

<table width=200>
		<h3>Division <%= divisions[0][:id] %></h3>
		<tr>
			<td>Name</td>
			<td>Played</td>
			<td>Won</td>
			<td>Lost</td>
			<td>Points</td>
		</tr>

		<%	l.each do |p| %>
			<tr>
				<td><%= p[:Name] %></td>
				<td><%= p[:Played] %></td>
				<td><%= p[:Won] %></td>
				<td><%= p[:Lost] %></td>
				<td><%= p[:Points] %></td>
			</tr>
		<% end %>
		</table>


<% 	end  %>
<%= will_paginate sorted_and_paginated_divisions %>