<% 
	p1_score = 3 
	p2_score = 2

if p1_score == 3 && p2_score ==2
	p1_points = 6
	p2_points = 3
end
%>




<% 


points = Result.where("user_id = 1").sum("score")

div_1 = Array.new
div_1 << { :Name => 'Rob', :Played => '2', :Won => '1', :Lost => 1, :Points => 4}
div_1 << { :Name => 'Nick', :Played => '2', :Won => '2', :Lost => 0, :Points => 8}
div_1 << { :Name => 'James', :Played => '2', :Won => '0', :Lost => 2, :Points => 1}

div_2 = Array.new
div_2 << { :Name => 'Gavin', :Played => '2', :Won => '1', :Lost => 1, :Points => 4}
div_2 << { :Name => 'Dom', :Played => '2', :Won => '2', :Lost => 0, :Points => 8}
div_2 << { :Name => 'Simon', :Played => '2', :Won => '0', :Lost => 2, :Points => 1}

for i in (1..2) %>

<table width=200>
	<h3>Division <%= i %></h3>
	<tr>
		<td>Name</td>
		<td>Played</td>
		<td>Won</td>
		<td>Lost</td>
		<td>Points</td>
	</tr>
<% 
i = i.to_s
divName = "div_" + i %>
<%= divName %>

<% divName.sort_by { |position| position[:Points] }.reverse!.each do |position| %>
	<tr>
		<td><%= position[:Name] %></td>
		<td><%= position[:Played] %></td>
		<td><%= position[:Won] %></td>
		<td><%= position[:Lost] %></td>
		<td><%= position[:Points] %></td>
	</tr>
<% end	%>
</table>
<% end %>

