

<% 
	divisions = division_ids
	@sorted_and_paginated_divisions = divisions.paginate(:page => params[:page], :per_page => 2)
	for divisions.each do |l|
		l = show_league(i,1) 
		
%>
<%= will_paginate @sorted_and_paginated_divisions %>
<table width=200>
		<h3>Division <%= i %></h3>
		<tr>
			<td>Name</td>
			<td>Played</td>
			<td>Won</td>
			<td>Lost</td>
			<td>Points</td>
		</tr>

		<%	l.each do |p| %>
			<tr>
				<td><%= p[:Name] %></td>
				<td><%= p[:Played] %></td>
				<td><%= p[:Won] %></td>
				<td><%= p[:Lost] %></td>
				<td><%= p[:Points] %></td>
			</tr>
		<% end %>
		</table>


<% #end  %>
<%= will_paginate @sorted_and_paginated_divisions %>